<DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>Header}}
        <h2 id="sparton">Sparton Pic</h2>
        <img src="./img/Sha.jpg" alt="" class="sparton">
    </div>

    {{>footer}}
</body>

</html>